parameters:
    level: 5
    paths:
        - app/
    excludePaths:
        - app/Console/Kernel.php
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'